{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Region Sales Report</h1>
    <table id="categoryTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Region Name</th>
                <th>Total Sales</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
            <tr>
                <td>{{ region.name }}</td>
                <td>{{ region.sales_volume }}</td>
                <td>₹{{ region.profit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#categoryTable').DataTable({
            'columnDefs': [
                { 'orderable': false } // Disable sorting on the first and third columns
            ]
        });
    });
</script>
{% endblock %}
